body {
    background-color: rgb(107, 52, 52);
    font-family: 'Poppins', sans-serif;
}

/* .bookshelf-wrapper {
    background-color: brown;
    color: brown
} */

.book {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    /* background-color: brown; */
    color: white;
    /* padding-bottom: 1rem;
    padding-top: 0rem; */
    grid-gap: 1rem;
}

.book > div {
    background-color:#212121;
    padding: 1rem;
    margin: 0rem;
}

h2 {
    margin: 0rem;
    text-decoration: underline;
}

.book > div > p {
    color: orange;
}